*,
*:before,
*:after {
	box-sizing: border-box;
}



.bg-fixed { background-attachment: fixed; }
.bg-no-repeat { background-repeat: no-repeat; }


.ff-quattro { @include ff('Quattro'); }
.ff-oswald  { @include ff('Oswald'); }
.ff-lato    { @include ff('Lato'); }
.ff-fjalla  { @include ff('Fjalla'); }
.ff-average { @include ff('Average'); }


.dark-red    { color: c('it-red'); }
.bd-dark-red { border-color: darken(c('it-red'), 15%); }
.bg-dark-red { background-color: darken(c('it-red'), 15%); }

.darkest-red { color: darken(c('it-red'), 15%); }

.shadow-special { text-shadow: 1px 1px 0 $c-white,
                               3px 3px 0 #{darken(c('it-green'), 15%)}; }


.min-h-45 { min-height: 45rem; }
.max-h-40 { max-height: 40rem; }


.ls-05 { letter-spacing: .05em; }


