*,
*:before,
*:after {
	box-sizing: border-box;
}


//
// "Lobotomized Owl selector"
// http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
//
// * + * {
//     margin-top: 1.5em;
// }


body {
	// @include fluid-prop(font-size padding-top, 16px, 20px);
}



.ff-quattro { @include ff('Quattro'); }
.ff-oswald { @include ff('Oswald'); }
.ff-lato { @include ff('Lato'); }
.ff-fjalla { @include ff('Fjalla'); }
.ff-average { @include ff('Average'); }


.dark-red    { color: darken(c('it-red'), 15%); }
.bd-dark-red { border-color: darken(c('it-red'), 15%); }
.bg-dark-red { background-color: darken(c('it-red'), 15%); }



.min-h-45 { min-height: 45em; }


.bg-fixed { background-attachment: fixed; }
