// 
// Basic grid
// 
.l-container {
	width: 100%;
	max-width: 80em;
}



.l-row {
	display: flex;
	flex-wrap: wrap;
}



.l-column {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	

	@for $i from 1 through 12 {
		@include if-its('#{$i}') {
			width: calc(100% * #{$i} / 12);
		}
	}
}